<header id="header" class="navbar navbar-inverse">
    <div class="container">
        <div class="header-right clearfix">
            <div class="user-detail">
                <div class="user-name">
                    Bienvenida <strong>{{ user.name }}!</strong>
                </div>
                <span><em class="zmdi zmdi-close"></em><a data-request="onLogout" data-request-data="redirect: '/'">Cerrar sesión</a></span>
            </div>
            
        </div>
       

    </div>
    <div class="strip-dash"></div>
    <!-- Nav Start 
    <nav id="nav">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{{url('/confianza')}}">Confianza</a>
                    <span class="arrow-icon"><em class="zmdi zmdi-chevron-right"></em></span>
                     <ul class="dropdown-menu">
                        <li class="active"><a href="#">Menu 1</a></li>
                        <li><a href="#">Menu 2</a></li>
                        <li><a href="#">Menu 3</a></li>
                    </ul> 
                </li>
                <li>
                    <a href="javascript:void(0)">Conflicto</a>
                    <span class="arrow-icon"><em class="zmdi zmdi-chevron-right"></em></span>
                     <ul class="dropdown-menu">
                        <li><a href="#">Menu 1</a></li>
                        <li><a href="#">Menu 2</a></li>
                    </ul> 
                </li>
                <li>
                    <a href="javascript:void(0)">Responsabilidad</a>
                    <span class="arrow-icon"><em class="zmdi zmdi-chevron-right"></em></span>
                     <ul class="dropdown-menu">
                        <li><a href="#">Menu 1</a></li>
                        <li><a href="#">Menu 2</a></li>
                    </ul> 
                </li>
                <li>
                    <a href="javascript:void(0)">Compromiso</a>
                    <span class="arrow-icon"><em class="zmdi zmdi-chevron-right"></em></span>
                     <ul class="dropdown-menu">
                        <li><a href="#">Menu 1</a></li>
                        <li><a href="#">Menu 2</a></li>
                    </ul> 
                </li>
            <li>
                    <a href="javascript:void(0)">Resultados</a>
                    <span class="arrow-icon"><em class="zmdi zmdi-chevron-right"></em></span>
                     <ul class="dropdown-menu">
                        <li><a href="#">Menu 1</a></li>
                        <li><a href="#">Menu 2</a></li>
                    </ul> 
                </li>
            </ul>
          
        </div> 
          <div class="header-bottom">
                <div class="carren-sec visible-xs">
                    <em class="zmdi zmdi-close"></em>
                    <a data-request="onLogout" data-request-data="redirect: '/'">Cerrar sesión</a>
                </div>
                 <span><em class="zmdi zmdi-close"></em><a data-request="onLogout" data-request-data="redirect: '/'">Cerrar sesión</a></span> 
                 <div class="header-privacy">
                    <p><a href="#">Política de privacidad</a></p>
                    <p><a href="#">Términos y condiciones</a> de uso</p>
                </div> 
           </div>
        -->
     </nav> 
</header>