<form id="updatePassword" data-request="resetPassword::onResetPassword" data-request-update="'resetPassword::complete': '#partialUserResetForm'" class="form-signin">
    <div class="form-input-custom" style="display: none;">
        <input name="code" class="form-control" id="resetCode" placeholder="Ingrese el código de activación" value="{{ this.param.code }}" type="text" readonly="readonly">
    </div>    
    <div class="form-input-custom">
        <input name="password" class="form-control" id="resetPassword" placeholder="Contraseña" type="password">
    </div>
    <div class="form-input-custom">		
        <input type="password" name="confirm_password" id="confirm_password" class="form-control " placeholder="Confirmar contraseña">
    </div>
<!--    <div class="password-requirements">
        <h2>Requisitos para crear tu contraseña</h2>
        <ul>
            <li>Usa al menos 6 caracteres</li>
            <li>Usa un número</li>
            <li>Usa una mayúscula</li>
            <li>Usa un caracter especial</li>
        </ul>
    </div>-->
    <button class="button-style" type="submit">ENTRAR</button>
</form>