description = "Juntosmovemos layout"

[session]
security = "all"
redirect = "/"
[account]
==
<?
use Quadi\Juntosmovemos\Models\UserFormData;
function onStart(){
    $current_user = $this->account->user();
    
}
public function onLogout(){
    $user = Auth::getUser();
    Auth::logout();
    Session::forget('formredirection');
    if ($user) {
        Event::fire('rainlab.user.logout', [$user]);
    }
    $url = post('redirect', Request::fullUrl());
    Flash::success(Lang::get('rainlab.user::lang.session.logout'));
    return Redirect::to($url);
}
?>
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'Header/head' %}
    </head>
    <body>
        <div id="wrapper"   >
        {% if user %}
            {% partial 'Header/header' %}
        {% endif %}
		<!-- Content Start -->
		{% page %}
		<!-- =========================================
		Footer Section
		========================================== -->
		{% partial 'Footer/footer' %}
	</div>
        {% partial 'Footer/loadJS' %}
    </body>
</html>
